*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  padding: 0 15px 0 15px;
  height: 100vh;
}

.bg-flowers{
  background-image: url(./bg-flowers.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper{
  margin: 0 auto;
  width: 100%;
  max-width: 1366px;
  padding: 0 20px;
}
