*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 15px 0 15px;
  height: 100vh;
  background-image: url(./assets/bg-flowers.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.container{
  margin: 0 auto;
  width: 100%;
  max-width: 1366px;
  padding: 30px 20px;
  text-align: center;
}

button{
  display:inline-block;
  border-radius: 30px;
  padding: 10px 20px;
  border:none;
  cursor:pointer;
  outline: none;
  font-size: 14px;
}

button:focus{
  outline: none;
  font-weight: bold;
}

.user-message{
  margin: 50px 0;
}

.button--default{
  background: #009ad8;
  color: #ffffff;
}

.button--state-danger {
  background: #900000;
  color: #ffffff;
}


.title{
  font-size: 20px;
}

.m-right{
  margin-right: 10px;
}
